* {
    padding: 0;
    margin: 0;
}

body {
    font-size: 14px;
    color: #333;
    font-family: "微软雅黑";
    background-color: #f0f2f5;
}

#app {
    height: 100vh;
}

header {
    height: 70px;
    background-color: rgb(143, 136, 136);
    padding: 0 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.right {
    height: 40px;
}

.avatar {
    width: 35px;
    height: 35px;
    margin-right: 10px;
    border-radius: 10px;
}

.right span {
    transform: translateY(-10px);
    display: inline-block;
    margin: 0 5px 0 10px;
}

.ant-dropdoen-link {
    color: #001529;
}

.container {
    display: flex;
    justify-content: space-between;
}

.aside {
    height: calc(100vh - 140px);
}

.container_box {
    flex: 1;
    box-sizing: border-box;
    padding: 20px;
    display: flex;
    flex-direction: column;
}

.container_content {
    flex: 1;
}

footer {
    height: 70px;
    background-color: #001529;
    color: white;
    text-align: center;
    line-height: 70px;
}